# Python
pycache/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Flask
instance/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Editor
.vscode/
.idea/

# Frontend build
node_modules/
